/*.hello {
	background-color: pink;
}
*/
body {
	margin: 0;
	box-sizing: border-box;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	background-color: black;
}

#app {
	/*	border: 4px solid blue;*/
	height: 100%;
	display: flex;
	justify-content: center;
	padding-top: 64px;
}
